@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Tags */
.android {
  border: 0.1rem solid rgb(167, 200, 63);
}
.android:hover {
  background: rgba(167, 200, 63, 0.25);
}

.kotlin {
  border: 0.1rem solid rgb(194, 31, 229);
}
.kotlin:hover {
  background: rgba(194, 31, 229, 0.25);
}


.firebase {
  border: 0.1rem solid rgb(255, 149, 0);
}
.firebase:hover {
  background: rgba(255, 136, 0, 0.361);
}

/* Tags */
.flutter {
  border: 0.1rem solid rgb(0, 180, 255); /* Bleu Flutter */
}
.flutter:hover {
  background: rgba(0, 180, 255, 0.25);
}

.web {
  border: 0.1rem solid rgb(66, 133, 244); /* Bleu Google (Web) */
}
.web:hover {
  background: rgba(66, 133, 244, 0.25);
}

.ios {
  border: 0.1rem solid rgb(0, 0, 0); /* Noir Apple */
}
.ios:hover {
  background: rgba(0, 0, 0, 0.25);
  color: white;
}

.dart {
  border: 0.1rem solid rgb(0, 173, 181); /* Bleu-vert Dart */
}
.dart:hover {
  background: rgba(0, 173, 181, 0.25);
}

.csharp {
  border: 0.1rem solid rgb(98, 48, 138); /* Violet C# */
}
.csharp:hover {
  background: rgba(98, 48, 138, 0.25);
}

/* .NET */
.dotnet {
  border: 0.1rem solid rgb(100, 30, 150); /* Violet officiel .NET */
}
.dotnet:hover {
  background: rgba(100, 30, 150, 0.25);
}

.python {
  border: 0.1rem solid rgb(246, 216, 85);
}
.dotnet:hover {
  background: rgba(246, 216, 85, 0.25);
}
/* VB (Visual Basic) */
.vb {
  border: 0.1rem solid rgb(149, 82, 176); /* Violet clair pour Visual Basic */
}
.vb:hover {
  background: rgba(149, 82, 176, 0.25);
}

/* SQL */
.sql {
  border: 0.1rem solid rgb(226, 74, 43); /* Rouge SQL Server */
}
.sql:hover {
  background: rgba(226, 74, 43, 0.25);
}

/* WASM (WebAssembly) */
.wasm {
  border: 0.1rem solid rgb(50, 50, 200); /* Bleu WebAssembly */
}
.wasm:hover {
  background: rgba(50, 50, 200, 0.25);
}

/* Blazor */
.blazor {
  border: 0.1rem solid rgb(109, 34, 150); /* Violet Blazor */
}
.blazor:hover {
  background: rgba(109, 34, 150, 0.25);
}

.unity {
  border: 0.1rem solid rgb(54, 54, 54); /* Gris foncé Unity */
}
.unity:hover {
  background: rgba(54, 54, 54, 0.25);
  color: white;
}

.rest-api {
  border: 0.1rem solid rgb(34, 150, 243); /* Bleu API */
}
.rest-api:hover {
  background: rgba(34, 150, 243, 0.25);
}

.java {
  border: 0.1rem solid rgb(232, 81, 50); /* Rouge Java */
}
.java:hover {
  background: rgba(232, 81, 50, 0.25);
}

.pdf {
  border: 0.1rem solid rgb(255, 0, 0); /* Rouge PDF */
}
.pdf:hover {
  background: rgba(255, 0, 0, 0.25);
}

.pepper-robot {
  border: 0.1rem solid rgb(0, 122, 255); /* Bleu SoftBank (NAO/Pepper) */
}
.pepper-robot:hover {
  background: rgba(0, 122, 255, 0.25);
}
